*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 414px;
}

h1 {
  font: bold;
  font-size: 2em;
  padding-left: 25px;
}

.map {
  background-image: image(#);
  height: 225px;
  width: 100%;
  top: 20px;
  position: absolute;
  z-index: -1;
}

.row {
  padding-top: 18px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.list {
  padding-top: 270px;
  width: 380px;
  margin-left: 20px;
  margin-right: 20px;
}

li {
  display: inline-block;
  list-style-type: none;
  width: 40%;
  }

nav {
  float: inherit;
  padding: 6px;
  border: none;
  font-size: 1em;
  background-color: white;
}

.leftarrow {
  width: auto;
  color: grey;
}

.number {
  width: 10%;
  font-size: 15px;
}

.name {
  width: 70%;
  font-size: 15px;
}

.time {
  width: 17%;
  font-size: 15px;
}

.logo {
  width: 0%;
  color: grey;
}

.line {
display: block;
margin-left: 10%;
margin-right: auto;
}

.fa-2x {
  font-size: 10px !important;
  float: inherit;
}
