*, *:before, *:after {
  box-sizing: border-box;}
}

body {
  font-family: sans-serif;
}

.container {
  width: 420px;
}

h1 {
  font: bold;
  font-size: 2em;
  padding-left: 25px;
}

.map {
  background-image: image(#);
  height: 225px;
  width: 100%;
  top: 20px;
  position: absolute;
  z-index: -1;
}

.row {
  padding-top: 20px;
}

.list {
  padding-top: 250px;
}

li {
  display: inline-block;
  list-style-type: none;
  padding-right: 10px;
  }

nav {
  float: inherit;
  padding: 6px;
  border: none;
  font-size: 1em;
}

.arrow {
  display: inline-block;
  width: 5px;
  float: right;
  margin-top: 5px;
  }
